.crypto__title {
  color: white;
  text-align: center;
  font-size: 60px;
  margin-top: 40px;
}

.crypto__inputs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 60px;
}

.crypto__input,
.crypto__list {
  margin-right: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid gray;
}

.crypto__btn {
  background-color: white;
  color: #8742f8;
  text-decoration: none;
  padding: 8px 18px;
  border-radius: 40px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.crypto__btn:hover {
  background-color: #8742f8;
  color: white;
}

.crypto__value {
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
  color: white;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.crypto__error {
  color: red;
  font-size: 14px;
  font-weight: 300;
}

@media screen and (max-width: 850px) {
  .crypto__inputs {
    flex-direction: column;
    align-items: center;
  }

  .crypto__inputs div {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .crypto__input,
  .crypto__list {
    margin: 0;
  }

  .crypto__value {
    margin-left: auto;
    margin-right: auto;
    word-break: break-all;
    max-width: 300px;
  }
}
