.stock__title {
  color: white;
  text-align: center;
  font-size: 60px;
  margin-top: 40px;
}

.stock__inputs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 60px;
}

.stock__input {
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px 20px;
}

.stock__list {
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.stock__btn {
  background-color: white;
  color: #8742f8;
  text-decoration: none;
  padding: 8px 18px;
  border-radius: 40px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.stock__btn:hover {
  background-color: #8742f8;
  color: white;
}

.stock__value {
  text-align: center;
  font-size: 40px;
  color: white;
  margin-top: 80px;
}

.stock__error {
  color: red;
  font-size: 16px;
  font-weight: 100;
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  .stock__inputs {
    flex-direction: column;
    align-items: center;
  }

  .stock__inputs div {
    margin-bottom: 30px;
  }

  .stock__input {
    margin: 0;
  }

  .stock__list {
    margin: 0;
  }

  .stock__value {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    word-break: break-all;
  }
}
