.navbar__item > * {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

.navbar__item > *:hover {
  color: gray;
}

.navbar__logo {
  text-decoration: none;
  color: white;
  font-size: 32px;
  transition: 0.2s;
}

.navbar__logo:hover {
  color: gray;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 88px;
  padding-left: 151px;
  padding-right: 151px;
}

.navbar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.navbar__item {
  font-size: 20px;
  padding-left: 20px;
}

.active {
  opacity: 0.5;
}

.navbar__hamburger {
  display: none;
}

@media screen and (max-width: 800px) {
  .navbar__list {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    width: 100%;
    text-align: center;
    height: 100vh;
    color: #8742f8;
    flex-direction: column;
    justify-content: center;
    transition: 0.2s;
  }

  .navbar__list--active {
    background-color: white;
    left: 0;
  }

  .navbar__list--active .navbar__item {
    padding: 0;
  }

  .navbar__list--active .navbar__item > * {
    color: #8742f8;
    font-size: 30px;
  }

  .navbar {
    padding-top: 40px;
    padding-left: 75px;
    padding-right: 75px;
  }

  .navbar__logo {
    font-size: 20px;
  }

  .navbar__hamburger {
    display: block;
    cursor: pointer;
    z-index: 1000;
  }

  .navbar__hamburger-bar {
    display: block;
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    margin: 6px auto;
  }

  .navbar__hamburger--active {
    position: fixed;
    right: 75px;
    top: 40px;
  }

  .navbar__hamburger-bar:nth-child(1) {
    transition: transform 0.3s ease-in-out;
  }

  .navbar__hamburger-bar:nth-child(2) {
    transition: opacity 0.3s ease-in-out;
  }

  .navbar__hamburger-bar:nth-child(3) {
    transition: transform 0.3s ease-in-out;
  }

  .navbar__hamburger--active .navbar__hamburger-bar:nth-child(2) {
    opacity: 0;
  }

  .navbar__hamburger--active .navbar__hamburger-bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    background-color: #8742f8;
  }

  .navbar__hamburger--active .navbar__hamburger-bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
    background-color: #8742f8;
  }

  .navbar__item {
    margin: 16px 0;
  }
}
